.timeline-container{
    max-width: 34.15em;
    margin: 2em auto;
}
.timeline-wrapper .section-title{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 1em 0;
    letter-spacing: 0.08em;
    text-shadow: 0 0 10px #b700ff,0 0 20px #b700ff,0 0 40px #b700ff,0 0 80px #b700ff,0 0 120px #b700ff;
}
.tcard-content{
    max-width: 34em;
    padding: 1.5em 2em;
    border-radius: 1em;
    border: 2px solid #fff;
    background:rgb(22, 3, 39);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1em;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.tcard-content h1{
    font-size: 1.65em;
    color: white;
    padding-bottom: 0.75em;
}
.tcard{
    text-align: center;
    padding-top: 1.75em;
    padding-bottom: 1.5em;
}
.tcard .tcard-info{
    line-height: 2;
}
.tcard .date{
    text-shadow:  0 0 10px #e600ff,0 0 20px #e600ff,0 0 40px #e600ff;
    color: white;
    font-size: 1.2em;
}
.tcard:nth-child(odd){
    border-left: 3px solid #fff;
    padding-left: 3em;
    transform: translateX(17em);
}
.tcard:nth-child(even){
    border-right: 3px solid #fff;
    padding-right: 3em;
    transform: translateX(-17em);
}
.tcard:nth-child(odd):before,.tcard:nth-child(even):before{
    content: '';
    position: absolute;
    height: 2px;
    width: 3em;
    background: #fff;
    top: 50%;
    transform: translateY(50%);
}
.tcard:nth-child(odd)::before{
    left: 0;
}
.tcard:nth-child(even):before{
    right: 0;
}
/* .tcard:nth-child(odd) .tcard-content::before,.tcard:nth-child(even) .tcard-content::before{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 46.5%;
    transform: translateY(50%);
    box-shadow:  0 0 10px #e600ff,0 0 20px #e600ff,0 0 40px #e600ff,0 0 60px #e600ff,0 0 80px #e600ff;
} */
.tcard:nth-child(odd) .tcard-content::before{
    left: -0.37em;
}
.tcard:nth-child(even) .tcard-content::before{
    right: -0.37em;
}

@media screen and (max-width:2000px){
    .timeline-container{
        max-width: 90%;
    }
    .tcard-content{
        max-width: 98%;
    }
    .tcard:nth-child(even),.tcard:nth-child(odd){
        padding-left: 3em;
        padding-right: 0;
        border-left: 3px solid #fff;
        border-right: 0;
        transform: translateX(0);
    }
    .tcard:nth-child(even)::before,.tcard:nth-child(odd):before{
        left: 0;
    }
    .tcard:nth-child(even) .tcard-content::before,.tcard:nth-child(odd) .tcard-content::before{
        left: -0.37em;
    }
}
@media screen and (max-width:2000px){
    .timeline-container{
        max-width: 100%;
        margin:auto 1.5em;
    }
    .tcard-content{
        max-width: 100%;
        padding: 1.5em;
    }
    .tcard{
        padding-top: 1em;
    }
    .tcard:nth-child(even),.tcard:nth-child(odd){
        padding-left: 0;
        border-left:none;
    }
    .tcard:nth-child(odd):before,.tcard:nth-child(even):before{
        height: 3em;
        width: 2px;
        top:auto;
        bottom: 0;
    }
    .tcard:nth-child(even)::before,.tcard:nth-child(odd):before{
        left: 50%;
        right: 50%;
    }
    .tcard:nth-last-child(1)::before{
        height: 0;
        width: 0;
    }
    .tcard:nth-child(odd) .tcard-content::before,.tcard:nth-child(even) .tcard-content::before{
        top: auto;
        bottom: 6px;
        left: 49.1%;
    }
    .tcard:nth-last-child(1) .tcard-content::before{
        height: 0;
        width: 0;
    }
}
@media screen and (max-width:2000px){
    .timeline-container{
        margin:auto 1em;
    }
    .tcard:nth-child(odd) .tcard-content::before,.tcard:nth-child(even) .tcard-content::before{
        left: 48.85%;
    }
}